appnope==0.1.0
backcall==0.1.0
bcrypt==3.1.4
blinker==1.8.2
cffi==1.17.0
click==8.1.7
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-DebugToolbar==0.15.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
ipython-genutils==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
prompt_toolkit==3.0.47
psycopg2-binary==2.9.9
ptyprocess==0.6.0
pycparser==2.22
Pygments==2.2.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
wcwidth==0.1.7
Werkzeug==3.0.3
WTForms==2.2.1
